
<section class="flex col justify-center" style="align-items: center; backdrop-filter: blur(5px); padding: 2%;">
  <img src="/assets/images/logoHuhura.svg" alt="Logo" class="logo"/>

  <h3 class="mat-h3" style="text-align: center; color: #ffffff;">
    Uma forma segura de conversar, crie uma <br> sala privada e convide seus amigos.
    <!-- The most private way of chatting -->
  </h3>
  <button
    color="primary"
    mat-raised-button
    (click)="create()"
    aria-label="Iniciar conversa"
    style="border-radius: 50px; box-shadow: 0 0 0 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 0%); width: 50%;"
  >
    Criar sala
    <!-- Create new private room -->
  </button>
</section>



